* {
  /* 전체 */
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;

  margin: 0 auto;
  border: none;
  border-radius: 5px;
}

body {
  margin: 0;
  background-color: #1bbc9b;
}

.login-form {
  /*아이디,비번, 버튼 */
  width: 300px;
  background-color: #eeeff1;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  margin-top: 50px;
}

.text-field {
  /*아이디,비번*/
  width: 100%;
  font-size: 14px;
  border: none;
  margin-bottom: 10px;
  padding: 10px;
  padding: 20px 20px 10px 20px;
}

.submit-btn {
  font-size: 14px;
  background-color: #1bbc9b;
  margin-bottom: 30px;
  color: #eeeff1;
  padding: 10px;
  width: 100%;
}

.links {
  text-align: center;
}

.links a {
  font-size: 12px;
  color: #9b9b9b;
}
