@font-face {
  src: url("../fonts/BMJUA_otf.otf");
  font-family: jau;
}

* {
  box-sizing: border-box;
  background-color: #f0e8d9;
  /*width: 300px;*/
  margin: 0 auto;
  font-family: jau;
}
h1 {
  text-align: center;
  font-size: 64px;
  margin: 75px auto 30px;
  color: #58595b;
}
h2 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 75px;
  color: #58595b;
}
.menu {
  background-color: white;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  /*border: 1px solid red;*/
}
.menu h3 {
  color: #58595b;
  font-size: 32px;
}
.menu p {
  color: #58595b;
  font-size: 16px;
}
.menu a {
  color: #0000ee;
  font-size: 16px;
  text-decoration: none;
}
